<app-header></app-header>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col">

          <app-card></app-card>

      </div>
      <div class="col">
        <app-read-card></app-read-card>
      </div>

      </div>
    <div class="row">
      <div class="col">
    <app-fill-mode></app-fill-mode>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <div class="box">
          <h2>some text here</h2>
        </div>
      </div>
      <div class="col">
        <div class="box">
          <h2>some text here</h2>
        </div>
      </div>
      <div class="col">
        <div class="box">
          <h2>some text here</h2>
        </div>
      </div>
    </div>
  </div>
</div>
