<div class="container">
  <p>
    Hover over the container to apply the animations to the elements.
  </p>
  <div class="module">
    <p><code>none</code></p>
    <div class="wrapper">
      <div class="element element-1"></div>
    </div>
  </div>
  <div class="module">
    <p><code>forwards</code></p>
    <div class="wrapper">
      <div class="element element-2"></div>
    </div>
  </div>
  <div class="module">
    <p><code>backwards</code></p>
    <div class="wrapper">
      <div class="element element-3"></div>
    </div>
  </div>
  <div class="module">
    <p><code>both</code></p>
    <div class="wrapper">
      <div class="element element-4"></div>
    </div>
  </div>
</div>
