
  <div  class="expend_card card ">

      <div id="left" class="left rounded-lg">

        <a href="#" class="card_skill_button">Laravel</a>

        <img src="../../assets/pics/whats-new-in-laravel-5.4.svg">

        <div id="card__footer" class="flex item-center">


          <div class="difficulty-meter flex flex-col justify-center mr-2 is-beginner">
        <span class="mb-1 rounded block w-3 h-1">

        </span> <span class="mb-1 rounded block  w-3 h-1">

      </span> <span class="block rounded w-3 h-1"></span></div>
          <div class="font-bold text-xs "><span>Intermediate</span>
            <br>Difficulty
          </div>
        </div>
      </div>


    <div class="right">
      <h3 id="card_title"class="card_title text-2xl mb-4 link"><a href="#">
        What's New in Laravel 5.8
      </a></h3>
      <div id="content" class="content text-sm flex-1 generic-content text-gray-600">
        <p>
          Laravel 5.8, which released on February 26th, 2019, ships with a new
          Eloquent relationship, automatic policy discovery, PHPUnit 8 support, and so m...
        </p>
      </div>
      <div id="meta"  class="meta">

        <div >
          <i class="material-icons">
            cast_for_education
          </i>
          9 Lessons
        </div>
        <div id="meta1">
          <i class="material-icons">
            watch_later
          </i>
          1:45:30 hrs
        </div>

      </div>

    </div>

  </div>
