/* You can add global styles to this file, and also import other style files */
h1 {
  color: #336699;
  font-family: "Comic Sans MS", cursive, sans-serif;
  align-content: center;
  margin-left: 20px;
  align-items: center;

}
div{
  border: yellow dashed 3px;
  margin-left: 10px;
 width: fit-content;
  padding: 20px;
}
p{
  margin-left: 3px;
}
h3 {
  color: #26466c;
  font-family: "Segoe UI Semilight";
  align-content: center;
  margin-left: 20px;
  align-items: center;

}
li{
  color: #616319;
  margin-bottom: 4px;
  padding: 2px;
  font-family: Arial;

}
