<div class="form-check">
  <label class="form-check-label mr-2">
    <input type="checkbox" class="form-check-input" [(ngModel)]="includedShipped"/>
    Display Shipped Orders
  </label>
  <label class="form-check-label ml-3">
    <input type="checkbox" class="form-check-input" [(ngModel)]="showCanceled"/>
    Show Canceled
  </label>
</div>
<table class="table table-sm">
  <thead>
  <tr><th>Name</th><th>Zip</th><th colspan="3">Cart</th><th></th></tr>
  </thead>
  <tbody>
  <tr *ngIf="getOrders().length == 0">
    <td colspan="5">There are no orders</td>
  </tr>
  <ng-template ngFor let-o [ngForOf]="getOrders()">
    <tr>
      <td>{{o.name}}</td><td>{{o.zip}}</td>
      <th>Product</th><th>Quantity</th><th><button class="btn btn-primary btn-sm" (click)="getorderDetails(o)" [hidden]="o.cart"> Show Order</button> </th>
      <td>
        <button class="btn btn-warning" [hidden]="includedShipped || showCanceled" (click)="makeShipped(o)">
          Ship
        </button>
        <button class="btn btn-danger" [hidden]="showCanceled" (click)="deleteOrder(o)">
          Delete
        </button>
      </td>
    </tr>
    <tr *ngFor=" let c of o.cart" >
      <td colspan="2" ></td>
      <td> {{c.product.name}} </td>
      <td> {{c.quantity}} </td>
    </tr>
  </ng-template>
  </tbody>
</table>
