<section class="weather-search">
  <form #form = "ngForm"(ngSubmit)="onSubmit(form.value)" >
    <div class="search-input">
            <label for="city">City</label>

      <input type = "text" name = "city" placeholder = "location" ngModel id = "city" #City (input)="search(City.value)" value="{{showCountry}}">

      <ul class="search-result" *ngIf="show">
        <li *ngFor="let country of countries$ | async | slice:0:4" (click)="onSelect(country)" >

          <a>  {{country.city}} , {{country.country}}</a>

        </li>
      </ul>

      <div>City found: <span class="info" *ngFor="let country of countries$ | async | slice:0:1"> {{country.city}}</span> </div>
  </div>
    <div>
      <button type="submit">Add City</button>
      <button type="button" class="clear" (click)="clear()">Clear list</button>    </div>
  </form>

  <div *ngIf="loading">
    <img src="../../assets/icons/Spinner-1s-200px.svg">
  </div>

</section>

