<div class="card">
  <div  class="left">

      <a href="#" class="card_skill_button">PHP</a>

    <img src="../../assets/pics/build-a-staging-server.svg">

   <div id="card__footer">
<!-- <span class="tw-mb-1 tw-rounded tw-block tw-w-3 tw-h-1"></span> -->


     <i id="star_half" class="material-icons">
       star_half
     </i>
           <div>Intermediate Difficulty</div>
   </div>
  </div>

  <div class="right">
   <h3 class="card_title"> <a  href="#">
     10 techniques for clean code
   </a></h3>
    <p class="content">
        We've all written code misses the mark. Sure, it works but, your left with feeling that missed something the difficult p...
    </p>
    <div class="meta">

      <div>
        <i class="material-icons">
          cast_for_education
        </i>
        9 Lessons
      </div>
      <div>
        <i class="material-icons">
          watch_later
        </i>
        1:45:30 hrs
      </div>

    </div>

  </div>
</div>
